.blog{

    max-width: $content-width;

    margin-bottom: 100px;

    .blog-header{
        font-family: $main-font;
        font-size: 30px;

        margin-top: 60px;
    }
    hr {
        width: 60px;
        margin-top: -15px;

        margin-bottom: 20px;

        border: 1px solid;
    }

    .collection{

        display: flex;
        align-items: left;
        justify-content: space-between;

        margin-bottom: 100px;
        .date-released{
            height: 60px;
            width: 60px;

            background-color: $site-blue;

            color: $site-white;

            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-evenly;

            .one{
                font-size: 22px;
                font-weight: bold;

                z-index: 98;
                margin-bottom: -1px;
                margin-top: 10px;
            }
            .two{
                font-size: 12px;
            }

        }

        .blog-info{
            width: 900px;
            height: 375px;

            .blog-image{
                height: 259px;
                width: 900px;

                margin-bottom: 20px;

                // background-color: blue;

                background-image: url('../images/blog.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .blog-title{

                height: 22px;
                min-width: 200px;

                margin-bottom: 10px;

                p{
                    font-size: 15px;
                    font-family: $main-font;

                    color: $site-black;
                }
            }

            .blog-description{
                height: 64px;
                width: 380px;

                p{
                    font-size: 13px;
                    font-family: $main-font;

                    color: $site-blue;
                }
            }
        }
    }
}